# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=false
    S:OnMorningText=Wake up slackers, there is building to do!
    S:OnSleepText=is scared of the dark.
    S:OnWakeText=has found is courage.
    I:SleeperPerc=10
}


